@import play.api.data.Form
@import helper._
@import play.api.mvc.{RequestHeader}
@import play.api.i18n.{MessagesProvider}
@()(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@main("Welcome to Play") {
  <h1>Welcome to Play1!</h1>
<b>Have a nice day!</b>
<br>What a <i>beautiful</i> weather!
<br> Look at this img.<br>
<img src="https://p4.wallpaperbetter.com/wallpaper/951/555/612/assault-guns-landscapes-m14-wallpaper-preview.jpg">

This is a <span style=”color: red;”>rifle</span>
}
